.Notification {
  position: fixed;
  width: 12%;
  padding: 20px 20px 0 20px;
  right: 5%;
  bottom: -50%;
  z-index: 40;
}

.Show {
  bottom: -4%;
  -webkit-animation: slidein 0.6s cubic-bezier(0.47, 0.95, 1, 0.99);
  animation: slidein 0.6s cubic-bezier(0.47, 0.95, 1, 0.99);
}

.Hide {
  -webkit-animation: slideout 1s linear;
  animation: slideout 1s linear;
  bottom: -50%;
}

@keyframes slidein {
  0% {
    bottom: -50%;
  }
  70% {
    bottom: 2%;
  }
  100% {
    bottom: -4%;
  }
}

@keyframes slideout {
  0% {
    bottom: -4%;
    opacity: 1;
  }
  100% {
    bottom: -50%;
    opacity: 0;
  }
}


.NotiText {
  position: relative;
  left: 35px;
  bottom: 5px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  width: 70%;
  border: 3px solid #2980b9;
  border-radius: 10px;
  padding: 20px;
  z-index: 10;
  background-color: #2980b9;
}

.NotiText::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 41px solid transparent;
  border-top-color: #2980b9;
  border-bottom: 0;
  border-right: 0;
  margin-left: -20.5px;
  margin-bottom: -41px;
}

.NotiImage {
  position: relative;
  bottom: 10px;
  margin-left: 100%;
  transform: translate(-70px, 0);
}

@media (max-width: 500px){
  .Notification {
    position: fixed;
    width: 100%;
    left: 0%;
    bottom: -100%;
    box-sizing: border-box;
    z-index: 40;
  }
  
  .NotiText::after{
    display: none;
  }
  .Show {
    bottom: 5%;
  }
  
  .Hide {
    bottom: -100%;
  }
  @keyframes slidein {
    0% {
      bottom: -100%;
    }
    70% {
      bottom: 15%;
    }
    100% {
      bottom: 5%;
    }
  }
  
  @keyframes slideout {
    0% {
      bottom: 5%;
      opacity: 1;
    }
    100% {
      bottom: -100%;
      opacity: 10;
    }
  }
  .NotiImage{
    display: none;
  }
  .NotiText{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    overflow: scroll;
    position: absolute;
    left: 0%;
  }
}
