.Tracker {
  background-color: #ffffffee;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 10px 10px 0 0;
  box-shadow: 1px 2px 10px #ccc;
  box-sizing: border-box;
}

.DefaultPlaceholder {
  padding: 10px;
}

.Error {
  text-align: center;
  width: 100%;
  background-color: rgb(233, 31, 31);
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  box-sizing: border-box;
}
