.TrackerLogs {
  width: 100%;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  background-color: white;
  box-sizing: border-box;
  height: 200px;
  overflow-y: auto;
}

.TrackerLogs ul {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 5px 20px;
  color: #555;
}

.Date {
  display: inline-block;
  text-align: right;
  width: 160px
}
