.Profile {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #ffffffee;
  border-top: 0;
  border-radius: 0 0 20px 20px;
  color: #555;
}

.Section {
  padding: 10px;
  margin: 12px 0px;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 20px;
}

.Section form {
  display: inline;
  margin-left: auto;
}

.Left{
  grid-area: left;
}
.Right{
  grid-area: right;
}

.TextAlignRight{
  text-align: right;
}

.Grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "left right";
  align-items: center;
}

.Section select {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 5px;
}

.FloatRight {
  float: right;
}

.Section button {
  margin-left: 5px;
}

.Section input {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin: 8px 10px;
}

.Container {
  width: 100%;
}

.Header {
  margin: 0px 30px;
}

.Message {
  text-align: center;
  width: 100%;
  background-color: rgba(168, 184, 215, 1);
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .Grid {
    grid-template-columns: 100%;
    grid-template-areas: "left" "right";
  }
  .FloatRight {
    float: unset;
  }
  .Section {
    text-align: center;
  }
  .LineBreakSpan {
    margin-top: 4px;
    display: block;
  }
  .Section label {
    /* display: block; */
    margin: 8px 0;
  }
  .Section form {
    display: block;
  }
  .Section select {
    width: 100%;
    margin: 10px 0;
  }
  .Section button {
    margin: 12px 0;
    width: 100%;
  }
  .Container {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .Header {
    text-align: center;
    font-size: 1.8rem;
  }

  .Container p {
    text-align: center;
  }

  .Container button {
    position: relative;
    margin: 10px 0px;
    left: 50%;
    display: block;
    transform: translateX(-50%);
  }
  .TextAlignRight{
    text-align: center;
  }
}
