.Profile {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0 0 20px 20px;
}

.Header {
  margin: 0px 30px;
}

@media (max-width: 500px) {
  .Index {
    width: 80%;
    margin: 0 auto;
  }
  .Header {
    text-align: center;
    font-size: 1.8rem;
  }
}
