.Profile {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0 0 20px 20px;
}

.Section{
  padding: 10px;
  margin: 12px 0px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.Section form {
  display: inline;
  margin-left: auto;
}

.Section select {
  border: 1px solid #ccc;
}

.FloatRight {
  float: right;
}

.Section button {
  margin-left: 6px;
}

.Section input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.Container {
  width: 100%;
}

.Header {
  margin: 0px 30px;
}

.Message {
  text-align: center;
  width: 100%;
  background-color: rgba(168, 184, 215, 1);
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .FloatRight{
    float: unset;
  }
  .Section {
    text-align: center;
  }
  .LineBreakSpan {
    margin-top: 4px;
    display: block;
  }
  .Section label {
    display: block;
    margin: 8px 0;
  }
  .Section form{
    display: block;
  }
  .Section select {
    width: 100%;
    margin: 10px 0;
  }
  .Section button {
    margin: 12px 0;
    width: 100%;
  }
  .Container {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .Header {
    text-align: center;
    font-size: 1.8rem;
  }

  .Container p {
    text-align: center;
  }

  .Container button {
    position: relative;
    margin: 10px 0px;
    left: 50%;
    display: block;
    transform: translateX(-50%)
  }
}
