.Index {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0 0 20px 20px;
}

.Header {
  padding: 10px;
}

.Header span {
  font-size: 0.6em;
  margin-left: 20px;
}

.Paragraph {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  align-self: center;
  box-sizing: border-box;
}

.Paragraph::before{
  content: "";
  border-left: #2980b9 6px solid;
  position: relative;
  left: 2px;
  margin-right: 5px;
  bottom: 1px;
}

@media (max-width: 1000px) {
  .Index {
    width: 100%;
    margin: 0 auto;
  }
  .Header {
    text-align: center;
    font-size: 1.8rem;
  }
  .Paragraph {
    width: 90%;
    margin: 10px 5%;
  }
}
