.Index {
  padding: 20px 30px;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffffdd;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0 0 20px 20px;
}



/* .LeftColumn{
  width: 70%;
  box-sizing: border-box;
  display: inline-block;
}

.RightColumn{
  width: 30%;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: auto;
  height: 100%;
} */

.Index hr {
  border-top: 1px solid #ccc;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.Index ul {
  list-style: none;
}

.Index ul li::before{
  content: "-";
  color: #2980b9;
  font-weight: 900;
  position: relative;
  left: 2px;
  margin-right: 5px;
  bottom: 1px;
}

.HeadBanner img{
  display: block;
  background-repeat: no-repeat;
  width: 80%;
  height: auto; 
  margin: 0 10%;
}

.Header {
  text-align: center;
  color: #2980b9;
}

.Header span {
  font-size: 0.6em;
  margin-left: 20px;
}

.MiniHeader {
  color: #2980b9;
}

.MiniHeader::before {
  content: "";
  border-left: #2980b9 6px solid;
  position: relative;
  left: 2px;
  bottom: 1px;
  margin-right: 5px;
}

.Paragraph {
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  align-self: center;
  box-sizing: border-box;
}

.Paragraph::before{
  content: "";
  border-left: #2980b9 6px solid;
  position: relative;
  left: 2px;
  margin-right: 5px;
  bottom: 1px;
}

@media (max-width: 1000px) {
  .Index {
    width: 100%;
    margin: 0 auto;
  }
  .Header {
    text-align: center;
    font-size: 1.8rem;
  }
  .Paragraph {
    width: 90%;
    margin: 10px 5%;
  }
}
