.MvpEntry {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: auto;
  grid-template-areas:
    "name untilSpawn ."
    "fixedTimer untilSpawn killed"
    "map untilSpawn killed"
    "killedBy note note";
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
}

.MvpEntryCompact {
  display: grid;
  grid-template-columns: 25% 15% 6% 20% 34%;
  grid-template-rows: auto;
  grid-template-areas:
    "name fixedTimer map untilSpawn killed"
    "killedBy killedBy note note note";
  padding: 2px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  align-items: center;
}

.MvpEntry div {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.MvpEntry i,
.MvpEntryCompact i {
  position: relative;
  left: 5px;
  top: 2px;
  cursor: pointer;
}

.MvpEntry div span {
  font-size: 1rem;
}

.Name {
  grid-area: name;
}

.MvpEntry .Name {
  font-style: italic;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.MvpEntryCompact .Name {
  padding-left: 5px;
}

.FixedTimer {
  grid-area: fixedTimer;
}

.Map {
  grid-area: map;
  font-size: 0.8rem;
  color: #2980b9;
  text-decoration: underline;
  cursor: pointer;
}

.UntilSpawn {
  grid-area: untilSpawn;
  text-align: center;
}

.MvpEntryCompact .UntilSpawn span::before {
  content: " ";
}

.MvpEntryCompact .UntilSpawn br {
  display: none;
}

.MvpEntry .UntilSpawn {
  font-size: 1.6rem;
  margin: auto auto;
}

.Killed {
  grid-area: killed;
}

.MvpEntryCompact .UntilSpawn, .MvpEntryCompact .Killed{
  text-align: center;
}

.Killed input {
  width: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0 5px;
  box-sizing: border-box;
}

.Note,
.KilledBy {
  box-sizing: border-box;
  display: none;
  -webkit-animation: slideIn 0.3s linear;
  animation: slidein 0.3s linear;
  background-color: #ffffffaa;
  padding: 10px 20px;
  margin: 10px 0;
}

.Note {
  grid-area: note;
  width: 100%;
  max-height: 160px;
}

.MvpEntryCompact .KilledBy,
.MvpEntryCompact .Note {
  text-align: center;
  height: 120px;
}

.KilledBy {
  grid-area: killedBy;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

.KilledBy h3 {
  margin: 30px auto;
}

.Note.Display,
.KilledBy.Display {
  display: block;
}

.Note .NoteChild {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 5px;
  border-radius: 5px;
}

.Note *,
.KilledBy * {
  -webkit-animation: slideinChild 0.3s ease-out;
  animation: slideinChild 0.3s ease-out;
}

.Note textarea {
  width: 50%;
  text-align: center;
  overflow-y: scroll;
  font-family: sans-serif;
  background: inherit;
}

@keyframes slidein {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 160px;
  }
}

@keyframes slideinChild {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.MarginRight5px {
  margin-right: 5px;
}

@media (max-width: 1400px){
  .MvpEntryCompact{
    grid-template-columns: 25% 10% 15% 20% 30%;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .MvpEntry,
  .MvpEntryCompact {
    grid-template-columns: 45% 55%;
    grid-template-areas:
      "name untilSpawn"
      "map killed"
      "killedBy note";
  }
  .MvpEntryCompact div {
    text-align: center;
    padding: 5px 5px;
  }
  .MvpEntry i,
  .MvpEntryCompact i {
    top: 0px;
  }
  .MvpEntryCompact .Name {
    font-size: 1.5rem;
  }
  .Name {
    padding-bottom: 0;
  }
  .FixedTimer {
    display: none;
  }
  .HideOnSmall {
    display: none;
  }
  .UntilSpawn {
    font-size: 2rem;
  }
  .Map {
    font-size: 1rem;
  }
  .MvpEntry div span,
  .MvpEntryCompact div span {
    display: none;
  }
  .Killed input {
    width: 100%;
    margin: 5px 0;
  }
  .Killed button {
    height: 100%;
  }
  .MvpEntry div.KilledBy h3 span,
  .MvpEntryCompact div.KilledBy h3 span {
    display: inline;
  }
  .Note,
  .KilledBy {
    height: 100%;
  }
  .Note .NoteChild {
    display: block;
    max-height: 50px;
    overflow: scroll;
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;
  }
  .Note br {
    display: none;
  }
}
