body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.RemovedFromBody {
  background: -moz-linear-gradient(
    left,
    rgba(233, 246, 253, 1) 0%,
    rgba(211, 238, 251, 0.74) 27%,
    rgba(211, 238, 251, 0.51) 50%,
    rgba(211, 238, 251, 0.5) 51%,
    rgba(211, 238, 251, 0.68) 69%,
    rgba(233, 246, 253, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(233, 246, 253, 1) 0%,
    rgba(211, 238, 251, 0.74) 27%,
    rgba(211, 238, 251, 0.51) 50%,
    rgba(211, 238, 251, 0.5) 51%,
    rgba(211, 238, 251, 0.68) 69%,
    rgba(233, 246, 253, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(233, 246, 253, 1) 0%,
    rgba(211, 238, 251, 0.74) 27%,
    rgba(211, 238, 251, 0.51) 50%,
    rgba(211, 238, 251, 0.5) 51%,
    rgba(211, 238, 251, 0.68) 69%,
    rgba(233, 246, 253, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#e9f6fd',GradientType=1 ); /* IE6-9 */
}